In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [86]:
policekillings = pd.read_csv('data/police_killings.csv')
policekillings.columns = policekillings.columns.str.replace("'",'').str.replace(' ','_')
policekillings.columns = policekillings.columns.str.replace('Street_Address_of_Incident','Address').str.replace('Zipcode','Zip')

In [68]:
policekillings.dropna(axis = "rows",how="all",inplace=True)

In [69]:
policekillings

,Victims_name,Victims_age,Victims_gender,Victims_race,URL_of_image_of_victim,Date_of_Incident_(month/day/year),Street_Address_of_Incident,City,State,Zipcode,...,Unnamed:_56,Unnamed:_57,Unnamed:_58,Unnamed:_59,Unnamed:_60,Unnamed:_61,Unnamed:_62,Unnamed:_63,Unnamed:_64,Unnamed:_65
0,Eric M. Tellez,28,Male,White,https://fatalencounters.org/wp-content/uploads...,31/12/2019,Broad St.,Globe,AZ,85501.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Name withheld by police,NaN,Male,Unknown race,NaN,31/12/2019,7239-7411 I-40,Memphis,AR,38103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Terry Hudson,57,Male,Black,NaN,31/12/2019,3600 N 24th St,Omaha,NE,68110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Malik Williams,23,Male,Black,NaN,31/12/2019,30800 14th Avenue South,Federal Way,WA,98003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Frederick Perkins,37,Male,Black,NaN,31/12/2019,17057 N Outer 40 Rd,Chesterfield,MO,63005.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7658,Mark Chavez,49,Male,Hispanic,http://www.tricitytribuneusa.com/wp-content/up...,01/01/2013,912 Loma Linda Ave.,Farmington,NM,87401.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7659,Tyree Bell,31,Male,Black,http://content.omaha.com/media/maps/ps/2013/ja...,01/01/2013,3727 N. 42nd St.,Omaha,NE,68111.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7660,Christopher Tavares,21,Male,Hispanic,http://www.krdo.com/image/view/-/17980228/medR...,01/01/2013,Highway 50 and North Elizabeth Street,Pueblo,CO,81008.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7661,Andrew L. Closson,21,Male,White,http://www.superiortelegram.com/sites/default/...,01/01/2013,U.S. Highway 53,Gordon,WI,54838.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7662,Andrew Layton,26,Male,White,http://bloximages.chicago2.vip.townnews.com/ma...,01/01/2013,410 S Riverfront Drive,Mankato,MN,56001.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
policekillings.columns

Index(['Victims_name', 'Victims_age', 'Victims_gender', 'Victims_race',
       'URL_of_image_of_victim', 'Date_of_Incident_(month/day/year)',
       'Address', 'City', 'State', 'Zip', 'County',
       'Agency_responsible_for_death', 'Cause_of_death',
       'A_brief_description_of_the_circumstances_surrounding_the_death',
       'Official_disposition_of_death_(justified_or_other)',
       'Criminal_Charges?',
       'Link_to_news_article_or_photo_of_official_document',
       'Symptoms_of_mental_illness?', 'Unarmed',
       'Alleged_Weapon_(Source:_WaPo)', 'Alleged_Threat_Level_(Source:_WaPo)',
       'Fleeing_(Source:_WaPo)', 'Body_Camera_(Source:_WaPo)',
       'WaPo_ID_(If_included_in_WaPo_database)', 'Off-Duty_Killing?',
       'Geography_(via_Trulia_methodology_based_on_zipcode_population_density:_http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx_)',
       'ID', 'Unnamed:_27', 'Unnamed:_28', 'Unnamed:_29', 'Unnamed:_30',
       'Unnamed:_31', 'Unnamed:_32', 'Unnamed:_33', 'Unnamed:_34',
       'Unnamed:_35', 'Unnamed:_36', 'Unnamed:_37', 'Unnamed:_38',
       'Unnamed:_39', 'Unnamed:_40', 'Unnamed:_41', 'Unnamed:_42',
       'Unnamed:_43', 'Unnamed:_44', 'Unnamed:_45', 'Unnamed:_46',
       'Unnamed:_47', 'Unnamed:_48', 'Unnamed:_49', 'Unnamed:_50',
       'Unnamed:_51', 'Unnamed:_52', 'Unnamed:_53', 'Unnamed:_54',
       'Unnamed:_55', 'Unnamed:_56', 'Unnamed:_57', 'Unnamed:_58',
       'Unnamed:_59', 'Unnamed:_60', 'Unnamed:_61', 'Unnamed:_62',
       'Unnamed:_63', 'Unnamed:_64', 'Unnamed:_65'],
      dtype='object')

In [87]:
killingsaddress = policekillings.loc[:,['Victims_name','Address', 'City', 'State', 'Zip']]

In [14]:
policekillings['Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx )']

0          Rural
1          Urban
2          Urban
3       Suburban
4       Suburban
          ...
7902         NaN
7903         NaN
7904         NaN
7905         NaN
7906         NaN
Name: Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx ), Length: 7907, dtype: object

In [88]:
killingsaddress = killingsaddress.dropna(axis=0, how='any')

In [90]:
killingsaddress.Zip = killingsaddress.Zip.astype('int64')

In [91]:
killingsaddress

,Victims_name,Address,City,State,Zip
0,Eric M. Tellez,Broad St.,Globe,AZ,85501
1,Name withheld by police,7239-7411 I-40,Memphis,AR,38103
2,Terry Hudson,3600 N 24th St,Omaha,NE,68110
3,Malik Williams,30800 14th Avenue South,Federal Way,WA,98003
4,Frederick Perkins,17057 N Outer 40 Rd,Chesterfield,MO,63005
...,...,...,...,...,...
7658,Mark Chavez,912 Loma Linda Ave.,Farmington,NM,87401
7659,Tyree Bell,3727 N. 42nd St.,Omaha,NE,68111
7660,Christopher Tavares,Highway 50 and North Elizabeth Street,Pueblo,CO,81008
7661,Andrew L. Closson,U.S. Highway 53,Gordon,WI,54838
7662,Andrew Layton,410 S Riverfront Drive,Mankato,MN,56001

In [92]:
killingsaddress.to_csv('KA.csv')